* {
    padding: 0px;
    margin: 0px;
}
.navbar-toggler-icon{
    color: white;
    background-image: url(http://amikom.ac.id/public/docs/2016/logo_amikom_full_color.png);
}
h2{
    font-family: arial;
    text-align: center;
    font-size: 50px;
    margin-top: 100px;
}
nav{
    background-color: orange;
}
body{ 
    margin-top: 100px;
   /* margin-left: 2cm;
    margin-right: 3cm;*/
    margin-bottom: auto;
    background-color: #9933ff;

}
h1{
    text-align: center;
    margin-bottom: 100px;
    font-size: 50pt;
}
p{
    font-family: arial;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}
img{
    height: 350px;
    width: 700px;
    margin-top: 50px;
    display: block;
    margin-left: 150px;
    margin-right: center;
    margin-bottom: 50px;
}
ul li{
    list-style: none;
    margin-left: none;
}
.scroll {
    display:block;
    border: 1px;
    padding:5px;
    margin-top:5px;
    width:300px;
    height:700px;
    overflow:scroll;
    background-color: orange;
}
.dropdown-menu {
    background-color: orange;
}
.container{
    max-width: 1171px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer{
    background-color: navy;
    padding: 70px 0;
    background-image: url(https://home.amikom.ac.id/media/2020/08/logo-amikom-t.png);
    background-repeat: no-repeat;
    background-position: 14% top;
    background-size: 190px;
}
.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-top: 20px;
    position: relative;
    font-weight: 500;
}
.footer-col h4:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: orange;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10 px
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: orange;
    padding-left: 5px;
}
/*responsive*/
@media(max-width:  767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
}
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    line-height: 40px;
}
.et_pb_text_inner p{
    margin: auto;
    font-size: 16px;
    text-align: center;
    background-color: #311B92;
    color: whitesmoke;
    padding: 30px 0;
}
.copyrightText p
{
    margin: auto;
    text-align: center;
    background-color: #311B92;
    color: whitesmoke;
    padding: 5px 0;
    text-align: bottom 10%;
    font-size: 16px;
}