* {
	margin-right: 0px;
	padding: 0px;
	box-sizing:  border-box;
	font-familiy:  'Popins', Roboto;
}
h1{
	text-align: center;
}
body{
    background-size: cover;
    /*margin-left: 2cm;
    margin-right: 3cm;*/
    background: linear-gradient(#7070db, #4747d1, #2e2eb8);
}
.footer-col h5{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    position: relative;
    font-weight: 500;
}
img{
    width: 130px;
	height: 130px;
	border-radius: 50%;
	margin-top: 10px;
}
.scroll {
    display:block;
    border: 1px;
    padding:5px;
    margin-top:5px;
    width:300px;
    height:700px;
    overflow:scroll;
    background-color: orange;
}
.dropdown-menu {
    background-color: orange;
}
nav{
    background-color: orange;
}
.navbar-toggler-icon{
    color: white;
    background-image: url(http://amikom.ac.id/public/docs/2016/logo_amikom_full_color.png);
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer{
    background-color: navy;
    padding: 70px 0;
    background-image: url(https://home.amikom.ac.id/media/2020/08/logo-amikom-t.png);
    background-repeat: no-repeat;
    background-position: 14% top;
    background-size: 190px;
}
.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-top: 20px;
    position: relative;
    font-weight: 500;
}
.footer-col h4:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: orange;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10 px
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: orange;
    padding-left: 5px;
}
/*responsive*/
@media(max-width:  767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
}
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    line-height: 40px;
}
.et_pb_text_inner p{
    margin: auto;
    text-align: center;
    background-color: #311B92;
    color: whitesmoke;
    padding: 30px 0;
}
.et_pb_text_inner p{
    margin: auto;
    font-size: 16px;
    text-align: center;
    background-color: #311B92;
    color: whitesmoke;
    padding: 30px 0;
}
.copyrightText p
{
    margin: auto;
    text-align: center;
    background-color: #311B92;
    color: whitesmoke;
    padding: 5px 0;
    text-align: bottom 10%;
    font-size: 16px;
}
h1{
	text-align: center;
}
.flex{
	display: flex;
	align-items: center;
	justify-content: center;
}
.container{
    max-width: 1171px;
    margin: auto;
}
.cards{
	flex-wrap: wrap;
    margin-top: 50px;
}
.cards .card{
	width: 270px;
	height: 385px;
	border-radius: 20px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3), -5px -5px 10px rgba(0, 0, 0, 0.3);
	margin: 30px;
	border:  none;
	cursor:  pointer;
	transition:  all ease-out 0,5s;
}
.card1 {
	background: linear-gradient(#DDA0DD,#B0E0E6);
}
.card2 {
	background: linear-gradient(#DDA0DD,#B0E0E6);
}
.card3 {
	background: linear-gradient(#DDA0DD,#B0E0E6);
}
.card3 {
    background: linear-gradient(#DDA0DD,#B0E0E6);
}

.cards:hover .card{
	
	transform: scale(1);
	opacitiy: 0,5;
}
.cards .card:hover{
	
	transform: scale(1);
	opacity: 1;
}
.content{
	flex-direction: column;
	padding: 10px;
}
.content img{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	margin-top: 10px;
}
.content h1{
	font-size: 25px;
	padding-top: 8px;
}
.content p{
	text-align: center;
	font-size:17px;
	padding: 20px;
}
